a {
    text-decoration: none; 
    font-size: 16px;
    font-weight: normal; 
    color: rgb(0, 0, 255); 
}

a:hover {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0); 
}

a:active {
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 255, 0);
}