#para1 {
    color: pink; 
}

#para2 {
    color: blue; 
}

#para3 {
    color: green; 
}

#para4 {
    color: yellow; 
}

#para5 {
    color: grey; 
}

.black-button {
    background-color: black; 
}