p {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

#para1 {
    color: rgb(255, 255, 255);
}

#para2 {
    color: rgb(0, 0, 0);
}

#para3 {
    color: rgb(255, 0, 0);
}

#para4 {
    color: rgb(0, 128, 0);
}

#para5 {
    color: rgb(0, 0, 255);
}

#para6 {
    color: rgb(255, 255, 0);
}

#para7 {
    color: rgb(135, 206, 235);
}

#para8 {
    color: rgb(238, 130, 238);
}

#para1 {
    font-weight: bold;
}
