input {
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.form-container {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border: 2px solid #ccc;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
}

